<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665418154669-74c0ccf9oc8hge6o51akacujpvigl9ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665418154669-74c0ccf9oc8hge6o51akacujpvigl9ls</string>
	<key>API_KEY</key>
	<string>AIzaSyCMWSwhqT_Zi4ZMFBfFfsadSkQihCOeCS8</string>
	<key>GCM_SENDER_ID</key>
	<string>665418154669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stone.budget</string>
	<key>PROJECT_ID</key>
	<string>stone-budget</string>
	<key>STORAGE_BUCKET</key>
	<string>stone-budget.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665418154669:ios:2dc1fe2ded48bb38a63c24</string>
</dict>
</plist>